<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SAIRAM SCAFF</title>
    <link rel="stylesheet" href="static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <header class="header beautiful-header">
        <div class="header-left">
            <div class="menu-icon" onclick="openSideMenu()">
                <i class="fas fa-bars"></i>
            </div>
        </div>
        <div class="header-title">SAIRAM SCAFF</div>
    </header>
    <!-- Sidebar -->
    <div id="sidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeSideMenu()">&times;</a>
        <a href="#" onclick="closeSideMenu()">Home</a>
        <a href="#about" onclick="closeSideMenu()">About</a>
        <a href="#services" onclick="closeSideMenu()">Services</a>
        <a href="#contact" onclick="closeSideMenu()">Contact</a>
    </div>
    
    </header>
    <section class="hero" id = "hero">
        <div class="hero-content">
            <h1>SAIRAM SCAFF,</h1>
            <p class="subtitle">your trusted partner in scaffolding materials manufacturing and trading of scaffolding accessories. With a commitment to quality and safety, we provide top-notch scaffolding solutions for construction, industrial, and infrastructure projects.</p>
            <a href="#contact" class="contact-btn">CONTACT US</a>
        </div>
    </section>
    <section class="about" id="about">
        <h2>ABOUT US</h2>
        <div class="about-card">
            <div class="about-text">
                <span class="about-highlight">SAIRAM SCAFF</span>
                <p>A dynamic group comprising <b>Sairam Tech &amp; Sairam Enterprises</b><br>Dedicated to delivering high-quality scaffolding materials, our expertise in manufacturing and trading ensures that we meet the highest industry standards, offering durable, safe, and cost-effective solutions to our clients.<br>We introduce ourselves as one of the best manufacturers of complete Scaffolding Systems for all your conventional / custom made requirements.</p>
                <div class="about-divider"></div>
                
                <ul class="about-list">
                    <li>
                        <b>15+ Years of experience</b> worked in international scaffolding companies following British Standards BS EN 12811-1 and Indian Standards IS 3696-1
                    </li>
                    <li>
                        <b>Expertise</b> in Production, Quality, Maintenance, and Repair works in scaffolding materials.
                    </li>
                    <li>
                        <b>Operating our own unit more than 12+ years</b> for manufacturing scaffolding products, serving with best interest and skills.
                    </li>
                    <li>
                        <b>Professional engineering</b> for reliable, high-quality goods.
                    </li>
                </ul>
                
            </div>
            
        </div>
    </section>
    <section class="services" id="services">
        <h2>SERVICES</h2>
        <div class="services-row">
            <a class="service-card" href="/sairam_tech">
                <div class="service-img" style="background-image: url('/static/images/service_tech.png');"></div>
                <div class="service-label">SAIRAM <br>TECH<br>
                    <span class="service-desc">Trading of scaffolding Accessories including couplers, frames, jacks, and planks.</span></div>
            </a>
            <a class="service-card" href="/sairam_enterprises">
                <div class="service-img" style="background-image: url('/static/images/service_ent.jpeg');"></div>
                <div class="service-label">SAIRAM <br>ENTERPRISES<br>
                    <span class="service-desc">Precision-engineered scaffolding components built for strength and reliability.</span></div>
            </a>
            <a class="service-card" href="/custom_solutions">
                <div class="service-img" style="background-image: url('/static/images/service_cust.jpeg');"></div>
                <div class="service-label">CUSTOM <br>SOLUTIONS<br>
                    <span class="service-desc">Tailored scaffolding solutions to suit specific project needs.</span></div>
            </a>
        </div>
    </section>
    <section class="contact-section" id = "contact">
        <h2>CONTACT US</h2>
        <div class="contact-row">
            <div class="contact-card">
                <i class="fas fa-phone"></i>
                <div class="contact-info">
                    <a href="tel:+919600047939" style="color: #fff; text-decoration: underline;">+91 96000 47939</a><br> <a href="tel:+919841143693" style="color: #fff; text-decoration: underline;">+91 98411 43693</a>
                </div>
            </div>
            <div class="contact-card">
                <i class="fas fa-envelope"></i>
                <div class="contact-info">
                    <a href="mailto:sairamscaff2025@gmail.com" style="color: #fff; text-decoration: underline;">sairamscaff2025@gmail.com</a>
                </div>
            </div>
            <div class="contact-card">
                <i class="fas fa-map-marker-alt"></i>
                <div class="contact-info">
                    <a href="https://www.google.com/maps/place/Sairam+Scaff/@12.959149,80.1972828,19z/data=!3m1!4b1!4m6!3m5!1s0x3a525d0053723233:0x78edc075f5d25777!8m2!3d12.9581531!4d80.1973311!16s%2Fg%2F11y5nlny_4?entry=ttu&g_ep=EgoyMDI1MDUxNS4wIKXMDSoJLDEwMjExNDU1SAFQAw%3D%3D" target="_blank" style="color: #fff; text-decoration: underline;">location</a>
                </div>
            </div>
        </div>
    </section>
    <section class="quick-links">
        <h2>Quick Links</h2>
        <div class="quick-links-group">
            <strong>Other Pages:</strong>
            <a href="#">Home</a> |
            <a href="#about">About</a> |
            <a href="#services">Services</a> |
            <a href="#contact">Contact</a>
        </div>
        <div class="quick-links-group">
            <strong>Sairam Tech:</strong>
            <a href="/sairam_tech#cuplock">Cuplock Accessories</a> |
            <a href="/sairam_tech#couplers">Couplers</a> |
            <a href="/sairam_tech#prop">Prop Accessories</a> |
            <a href="/sairam_tech#jack">Jack Accessories</a>
        </div>
        <div class="quick-links-group">
            <strong>Sairam Enterprises:</strong>
            <a href="/sairam_enterprises#scaffolding">Scaffolding Spans</a> |
            <a href="/sairam_enterprises#floorform">Floor Form</a> |
            <a href="/sairam_enterprises#anglefloor">Angle Floor Forms</a> |
            <a href="/sairam_enterprises#anglefloor">Adjuster Floor Forms</a> |
            <a href="/sairam_enterprises#adjuster">Prop</a> |
            <a href="/sairam_enterprises#cuplock">Cup Lock Systems</a> |
            <a href="/sairam_enterprises#columnbox">Column Box</a> |
            <a href="/sairam_enterprises#hframe">H-Frame</a>
        </div>
        <div class="quick-links-group">
            <strong>Custom Solutions:</strong>
            <a href="/custom_solutions#solution1">Trolley</a> |
            <a href="/custom_solutions#solution2">Pipelining</a> |
            <a href="/custom_solutions#solution3">Welding Booth</a>
        </div>
    </section>
    <section class="contact-letter">
        <div class="contact-letter-inner">
            <h2>Contact Us</h2>
            
            <p>
                For any inquiries, quotations, or partnership opportunities,
            </p>
            <div class="contact-details">
                <div><strong>Proprietor:</strong> MMK Balaji</div>
                <div><strong>Phone:</strong> <a href="tel:+919600047939">+91 96000 47939</a>, <a href="tel:+919841143693">+91 98411 43693</a></div>
                <div><strong>Email:</strong> <a href="mailto:sairamscaff2025@gmail.com">sairamscaff2025@gmail.com</a></div>
                <div><strong>Location:</strong> <a href="https://www.google.com/maps/place/Sairam+Scaff/@12.959149,80.1972828,19z/data=!3m1!4b1!4m6!3m5!1s0x3a525d0053723233:0x78edc075f5d25777!8m2!3d12.9581531!4d80.1973311!16s%2Fg%2F11y5nlny_4?entry=ttu" target="_blank">19B, 2nd Main road, Rajalaxmi Nagar, Madipakkam, Chennai-600 091</a></div>
            </div>
            
        </div>
    </section>
    <script>
        function openSideMenu() {
            document.getElementById("sidebar").style.width = "260px";
            document.getElementById("sidebarOverlay").style.display = "block";
        }
        function closeSideMenu() {
            document.getElementById("sidebar").style.width = "0";
            document.getElementById("sidebarOverlay").style.display = "none";
        }

        // Hero background image slider
        const heroImages = [
            '/static/images/image1.png',
            '/static/images/image2.png',
            '/static/images/image3.png',    
            '/static/images/image4.png',
            '/static/images/image5.png',
            '/static/images/image6.png'
            
        ];
        let heroIndex = 0;
        const heroSection = document.querySelector('.hero');
        function switchHeroBg() {
            heroSection.style.backgroundImage = `url('${heroImages[heroIndex]}')`;
            heroIndex = (heroIndex + 1) % heroImages.length;
        }
        // Initial image
        switchHeroBg();
        // Change image every 4 seconds
        setInterval(switchHeroBg, 4000);
    </script>
</body>
</html>
